* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, sans-serif;
  font-size: 0.7em;
}
@font-face {
  font-family: flood;
  src: url('../../font/flood-std/FloodStd.otf');
}
header h1 {
  text-align: center;
  font-size: 5vw;
  width: 35vw;
  margin: 1em auto 1em auto;
}
/* ****************************************body/content******************************* */
.container {
  width: 100%;
  background-image: url('../../assets/donation/mobile_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1em;
  height: auto;
  padding-bottom: 5em;
  padding-top: 5em;
}
.content-container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#hope_caption {
  width: 100%;
  font-family: 'flood';
  color: #ffffff;
  font-size: 8vw;
  padding: 1em 0 1em 0;
}
.form-container {
  background-color: #354463;
  color: #ffffff;
  padding: 1.5em;
  margin-bottom: 1em;
  height: auto;
}
.wrapper > * {
  padding: 1em;
}
.wrapper label {
  display: block;
  font-size: 0.7em;
  margin-bottom: 0.5em;
}
.wrapper > form > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1em;
  margin-bottom: 2em;
  column-gap: 2em;
  row-gap: 1em;
}
.wrapper > form > section input,
select {
  width: 100%;
  margin-bottom: 0.8em;
  background: none;
  border: none;
  border-bottom: solid 0.125em #c1f7d5;
  padding: 0.5em 0em;
  font-size: 0.9em;
}
#street_add,
#email_add,
#card_num {
  grid-column-start: span 2;
}
#street_add > input,
#email_add > input,
#card_num > input {
  width: 100%;
}
#state_list {
  color: #c1f7d5;
  padding-bottom: 0.3em;
}
.address-details {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-start: span 2;
  column-gap: 1em;
}
.address-details input {
  width: 100%;
}
.card-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
}
.card-exp-date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
}
#dummy_label {
  visibility: hidden;
}
#pay_btn {
  grid-column-start: span 2;
  background-color: #c1f7d5;
  color: #354463;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  border: none;
  border-radius: 2em;
  font-weight: 900;
  font-size: 1.3em;
  margin-bottom: 1em;
  margin-top: 1em;
}
#go_back {
  color: #c1f7d5;
  font-size: 1.1em;
}

@media screen and (min-width: 426px) {
  .form-container {
    padding: 4em;
  }
  header h1 {
    font-size: 2.5em;
    width: 28%;
  }
  #hope_caption {
    font-size: 4em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  h2,
  h3 {
    font-size: 2.2em;
    margin: 1.5em 0;
  }
  .container {
    background-image: url('../../assets/donation/tablet_background.png');
  }
  .form-container {
    padding: 3em 6em;
  }
  .wrapper > form > section input,
  select {
    font-size: 1.2em;
  }
  .wrapper > form > section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1em;
    margin-bottom: 2em;
    column-gap: 5em;
    row-gap: 1em;
  }
  .address-details,
  .card-details,
  .card-exp-date {
    column-gap: 5em;
  }
  .buttons {
    display: grid;
    margin-top: 2em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 'go_back pay_btn';
  }
  #pay_btn {
    grid-area: pay_btn;
  }
  #go_back {
    grid-area: go_back;
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media screen and (min-width: 769px) {
  .container {
    background-image: url('../../assets/donation/desktop_background.png');
  }
  .content-container {
    width: 90vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .form-container {
    width: 50%;
    padding: 2em;
  }
  header h1 {
    font-size: 2vw;
    width: 15vw;
  }
  h2,
  h3 {
    margin: 0.5em 0;
  }
  .wrapper label {
    display: block;
    font-size: 1em;
    margin-bottom: 0.5em;
  }

  #hope_caption {
    width: 30%;
    padding-top: 0;
    margin-left: 5em;
  }
}
