.footer-content {
  width: 90%;
  margin-top: 5em;
  font-family: Helvetica, sans-serif;
  color: #354463;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'footer-logo contact-us'
    'links follow-us'
    '. footer-caption';
  row-gap: 0em;
  column-gap: 3em;
}

.footer-logo {
  font-size: 1.6em;
  font-weight: bold;
  grid-area: footer-logo;
  width: 5em;
}

.address-item {
  width: 100%;
  text-decoration: none;
  font-size: 1.2em;
  color: #354463;
  margin-bottom: 3em;
}

.address-divider {
  visibility: hidden;
}

.link {
  color: #354463;
}
.contact-us {
  grid-area: contact-us;
  width: 6.9em;
}
.links {
  grid-area: links;
  width: 6em;
}
.follow-us {
  grid-area: follow-us;
  width: 6em;
}
.footer-caption {
  grid-area: footer-caption;
  font-family: 'flood';
  font-size: 3em;
  text-align: right;
  margin-bottom: 1em;
}
@media screen and (min-width: 426px) {
  .footer-content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'footer-logo  contact-us links'
      '. follow-us footer-caption';
  }
  .footer-caption {
    text-align: unset;
  }
  .footer-logo {
    width: 8em;
  }
}
@media screen and (min-width: 769px) {
  .footer-content {
    grid-template-columns: 5fr 1fr 1fr 1fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'footer-logo contact-us links follow-us footer-caption';
  }
  .footer-caption {
    text-align: right;
  }
  .footer-logo {
    width: 8em;
  }
  .address-divider {
    visibility: unset;
    border: solid 0.3px #354463;
    margin: 0.5vw 0vw;
  }
  .address-item {
    margin-left: 2em;
    margin-right: 2em;
  }
}
