* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #354463;
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: flood;
  src: url('../../font/flood-std/FloodStd.otf');
}
h3 {
  font-size: 2vw;
}
/* Make header a flex container */
header {
  display: flex;
  justify-content: center;
  margin-bottom: 4vw;
}
/* Give logo 1/4th width of header */
#header-logo {
  display: flex;
  align-items: center;
  flex: 4;
}
#header-logo a {
  margin-top: 3vw;
  font-weight: bold;
  font-size: 2.2vw;
  text-decoration: none;
  width: 15vw;
  opacity: 1;
}
#navbar {
  flex: 4;
}
#navbar-list {
  margin-top: 4.5vw;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  list-style-type: none;
}
.navbar-items a {
  text-decoration: none;
  align-self: center;
  font-weight: lighter;
  font-size: 1.2vw;
  opacity: 0.7;
}
#head-donateToday {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 2;
}
#head-donateToday a {
  margin-top: 2.7vw;
  text-decoration: none;
  text-align: center;
  font: Bold 1.3vw Helvetica;
  opacity: 1;
  margin-left: 1vw;
  background-color: #c1f7d5;
  padding: 1vw;
  border-radius: 6vw;
  width: 12vw;
}
/******************************************************************************************************/
.hero-section {
  background-image: url('../../assets/home/desktop.png'); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 50vw;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-position: right;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.hero-section-container {
  align-items: center;
  justify-content: space-between;
}
.theIssue-article {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 35vw;
  justify-content: center;
}
.theIssue-article span {
  position: relative;
  background-color: #354463;
  color: #fff;
  font-size: 1vw;
  width: 10vw;
  padding: 0.5vw 2vw;
  left: 4.5vw;
  top: -1vw;
}
.theIssue-article p {
  align-self: center;
  font: Bold 2.8vw Helvetica;
  width: 28vw;
  padding: 3vw 0vw 3vw 0vw;
}
.theIssue-article a {
  align-self: center;
  text-decoration: none;
  padding: 0vw 0vw 5vw 0vw;
  font-size: 1.2vw;
}
#hero-caption {
  margin-right: 15vw;
  margin-bottom: 12vw;
  padding: 0vw;
}
#hero-caption p {
  color: #fff;
  font-family: flood;
  font-size: 4.5vw;
}
/******************************************************************************************************/
.takeAction-section {
  display: flex;
  background-color: #fff;
}
.takeAction-container {
  justify-content: space-between;
}
.takeAction-section span {
  position: relative;
  background-color: #354463;
  color: #fff;
  font-size: 0.9vw;
  width: 10vw;
  height: 2vw;
  padding: 0.5vw 2vw;
  left: 44vw;
  top: -1vw;
}
.takeAction-container div {
  width: 19vw;
  padding: 4vw 0vw;
}
.takeAction-container div a {
  text-decoration: none;
  font-size: 1.2vw;
  opacity: 0.7;
  line-height: 1.8vw;
}
/******************************************************************************************************/
.whatWeDo-section {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #354463;
}
.whatWeDo-section-container {
  flex-direction: column;
  margin-bottom: 8vw;
}
.whatWeDo-section-container span {
  background-color: #fff;
  color: #354463;
  font-size: 1vw;
  padding: 0.5vw 2vw;
  text-align: center;
  margin-top: 6vw;
  width: 12vw;
  height: 2vw;
}
.whatWeDo-section-container .ourMission {
  color: #fff;
  font-weight: bold;
  font-size: 3.1vw;
  margin: 2vw 0vw 5vw 0vw;
}
.whatWeDo-articles-container {
  display: flex;
  justify-content: space-between;
}
.whatWeDo-articles-container .whatWeDo-articles {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 23vw;
  padding: 0vw 2vw 2vw 2vw;
}
.whatWeDo-articles-images {
  position: relative;
  top: -2vw;
  width: 23vw;
  height: 16vw;
  background-attachment: cover;
}
.whatWeDo-details {
  display: flex;
  flex-direction: column;
}
.whatWeDo-articles-container .whatWeDo-articles p {
  opacity: 0.7;
  font-size: 1.2vw;
  line-height: 1.5em;
}
.readMore-button {
  margin-top: 1vw;
  text-align: center;
  font: Bold 1.3vw Helvetica;
  opacity: 1;
  text-decoration: none;
  background-color: #c1f7d5;
  padding: 1vw;
  border-radius: 6vw;
  width: 12vw;
}
/******************************************************************************************************/

.footer-content {
  margin: auto;
  width: 100%;
  display: flex;
  font-family: 'Helvetica';
  color: #354463;
  justify-content: space-between;
  align-items: baseline;
}

.footer-logo {
  width: 14vw;
  font-size: 1.2vw;
  font-weight: bold;
}

.address-item {
  width: 8.3vw;
  text-decoration: none;
  font-size: 0.8vw;
  color: #354463;
}

.address-divider {
  border: solid 0.3px;
  margin: 0.5vw 0vw;
}

.address-content {
  font-weight: lighter;
  display: flex;
  flex-flow: column;
}

.link {
  text-decoration: none;
  color: #354463;
}

.footer-caption {
  font-family: 'flood';
  font-size: 2.3vw;
  text-align: right;
}

/****************************************************************************************************/
.content-container {
  display: flex;
  width: 80vw;
}
/****************************************************************************************************/
@media screen and (min-width: 501px) and (max-width: 768px) {
  /***************header ***************/
  h3 {
    font-size: 3vw;
  }
  header {
    display: flex;
    justify-content: center;
    margin: 0vw;
    height: unset;
  }
  .header-container{
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
  }
  /* Give logo 1/4th width of header */
  #header-logo {
    display: flex;
    align-items: center;
    flex: unset;
    order: -1;
    width: 35vw;
  }
  #header-logo a {
    margin-top: 5vw;
    font-weight: bold;
    font-size: 2.2vw;
    text-decoration: none;
    width: 25vw;
    opacity: 1;
  }
  #navbar {
    position: relative;
    top: -5vw;
    order: 1;
    flex: unset;
    width:40vw;
  }
  #navbar-list {
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    list-style-type: none;
  }
  .navbar-items a {
    text-decoration: none;
    align-self: center;
    font-weight: lighter;
    font-size: 2vw;
    opacity: 0.7;
  }
  #head-donateToday {
    position: relative;
    top: -7vw;
    right: 0vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    flex: unset;
    order: 0;
    width: 30vw;
  }
  #head-donateToday a {
    margin-top: 2.7vw;
    text-decoration: none;
    text-align: center;
    font: Bold 2.5vw Helvetica;
    opacity: 1;
    margin-left: 1vw;
    background-color: #c1f7d5;
    padding: 1vw;
    border-radius: 6vw;
    width: 20vw;
  }
  /***************hero-section***********/
  .hero-section {
    background-image: url('../../assets/home/tablet.png');
    height: unset;
  }
  .hero-section-container {
    flex-direction: column-reverse;
    align-items: unset;
    justify-content: unset;
  }
  #hero-caption {
    margin-top: 10vw;
  }
  #hero-caption p {
    font-size: 6vw;
  }
  .theIssue-article {
    margin-bottom: 10vw;
    width: 80vw;
  }
  .theIssue-article span {
    font-size: 2vw;
    width: 18vw;
    padding: 2vw 3vw;
    left: 9vw;
    top: -2vw;
  }
  .theIssue-article p {
    font-size: 4vw;
    width: 62vw;
  }
  .theIssue-article a {
    text-decoration: underline;
    padding: 2vw 15vw 5vw 0vw;
    font-size: 2vw;
  }
  /********* Take Action Section ********/
  .takeAction-section {
    flex-direction: column;
    align-items: center;
  }
  .takeAction-container {
    margin: 0vw 10vw 6vw 10vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .takeAction-section span {
    font-size: 2vw;
    width: 25vw;
    height: 6vw;
    padding: 2vw 5vw;
    left: 0vw;
    top: -3vw;
  }
  .takeAction-container div {
    width: 38vw;
    padding: 3vw 1vw;
  }
  .takeAction-container div h3 {
    margin-bottom: 1vw;
  }
  .takeAction-container div a {
    font-size: 2.2vw;
    line-height: 4vw;
  }
  /******** What we do*******/
  .whatWeDo-section-container {
    margin-bottom: 8vw;
    width: 80vw;
  }
  .whatWeDo-section-container span {
    width: 20vw;
    font-size: 2vw;
    padding: 1.5vw 3vw;
    height: 6vw;
  }
  .whatWeDo-section-container .ourMission {
    font-size: 4.5vw;
    margin: 4vw 0vw 3vw 0vw;
  }
  .whatWeDo-articles-container {
    flex-direction: column;
  }
  .whatWeDo-articles-container .whatWeDo-articles {
    max-height: 38vw;
    margin-top: 8vw;
    flex-direction: row;
    width: 80vw;
    padding: 0vw 2vw 0vw 2vw;
  }
  .whatWeDo-articles-images {
    top: -4vw;
    left: 2vw;
    width: 35vw;
    height: 25vw;
  }
  .whatWeDo-articles-container .whatWeDo-articles h3 {
    width: 30vw;
    margin-left: 6vw;
    margin-top: 6vw;
  }
  .whatWeDo-articles-container .whatWeDo-articles p {
    font-size: 2.2vw;
    width: 34vw;
    margin-left: 6vw;
  }
  .readMore-button {
    position: relative;
    margin-top: 2vw;
    top: -12vw;
    left: -22vw;
    font: Bold 2.5vw Helvetica;
    padding: 1.5vw 1.5vw;
    border-radius: 6vw;
    width: 22.5vw;
  }
  /*****footer******/

  .footer-content {
    margin-top: 10vw;
    flex-flow: column wrap;
    height: 20vw;
    width:80vw;
    align-content: space-between;
    margin-bottom: 5vw;
  }
  .footer-logo {
    width: 22vw;
    font-size: 3vw;
    height: 20vw;
  }
  .address-item {
    font-size: 1.2vw;
    width: 12vw;
  }
  .footer-caption {
    font-size: 2.8vw;
    text-align: left;
    position: relative;
    top: 1.5vw;
  }
  .address-divider {
    border: solid 0.0px;
  }
}
/****************************************************************************************************/
@media screen and (max-width: 500px) {
  /***************header ***************/
  h3 {
    font-size: 5vw;
  }
  .header-container {
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 80vw;
  }

  #header-logo {
    margin: 7vw;
    margin-left: 0vw;
    margin-right: 10vw;
    margin-top: 0vw;
  }
  #header-logo h3 {
    font-size: 4.5vw;
    width: 35vw;
  }
  #navbar{
    margin-bottom: 5vw;
  }
  #navbar-list {
    flex-direction: column;
    /* flex-direction:row; */
    width: 30vw;
    margin: 10vw;
    margin-right: 0vw;
  }
  .navbar-items {
    margin: 0.9vw;
  }
  .navbar-items a {
    font-size: 3.5vw;
  }
  #head-donateToday{
    position: relative;
  }
  #head-donateToday a {
    position: relative;
    top: -10vw;
    align-self: center;
    width: 80vw;
    font-size: 4vw;
    padding: 3vw 20vw;
    margin: 0vw;
  }
  /***************hero-section***********/
  .hero-section {
    background-image: url('../../assets/home/mobile.png');
    height: unset;
  }
  .hero-section-container {
    flex-direction: column-reverse;
    align-items: unset;
    justify-content: unset;
  }
  #hero-caption {
    margin-top: 10vw;

    /* padding: 0vw; */
  }
  #hero-caption p {
    color: #fff;
    font-family: flood;
    font-size: 10vw;
  }
  .theIssue-article {
    margin-top: 40vw;
    margin-bottom: 20vw;
    width: 80vw;
    height: 65vw;
  }
  .theIssue-article span {
    font-size: 3.8vw;
    width: 45vw;
    padding: 4vw 12vw;
    left: 18vw;
    top: -10vw;
  }
  .theIssue-article p {
    text-align: center;
    font-size: 5.8vw;
    width: 73vw;
  }
  .theIssue-article a {
    text-decoration: underline;
    text-align: center;
    padding: 5vw 9vw 5vw 9vw;
    font-size: 3.5vw;
  }
  /********* Take Action Section ********/
  .takeAction-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .takeAction-container {
    margin: 2vw 10vw 10vw 10vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
  }
  .takeAction-section span {
    font-size: 3.8vw;
    width: 46vw;
    height: 12vw;
    padding: 4vw 10vw;
    left: 0vw;
    top: -6vw;
  }
  .takeAction-container div {
    width: 38vw;
    padding: 3vw 1vw;
  }
  .takeAction-container div h3 {
    margin-bottom: 2vw;
  }
  .takeAction-container div a {
    font-size: 3.5vw;
    opacity: 0.7;
    line-height: 5vw;
  }
  /******** What we do*******/
  .whatWeDo-section-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8vw;
    width: 80vw;
  }
  .whatWeDo-section-container span {
    width: 40vw;
    font-size: 3.8vw;
    padding: 3vw 6vw;
    text-align: center;
    height: 10vw;
  }
  .whatWeDo-section-container .ourMission {
    font-size: 5.5vw;
    text-align: center;
    margin: 2vw 0vw 5vw 0vw;
  }
  .whatWeDo-articles-container {
    flex-direction: column;
  }
  .whatWeDo-articles-container .whatWeDo-articles {
    margin-top: 20vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 80vw;
    padding: 0vw 2vw 7vw 2vw;
  }
  .whatWeDo-articles-images {
    top: -10vw;
    width: 65vw;
    height: 45vw;
  }
  .whatWeDo-articles-container .whatWeDo-articles p {
    text-align: center;
    font-size: 3.5vw;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }
  .readMore-button {
    margin: 2vw auto 2vw auto;
    font: Bold 4vw Helvetica;
    padding: 3vw 5vw;
    border-radius: 6vw;
    width: 35vw;
  }
  /*****footer******/

  .footer-content {
    margin-top: 5vw;
    flex-flow: row wrap;
    align-content: space-between;
}
.footer-logo {
    width: 32vw;
    font-size: 4.8vw;
    margin-bottom: 5vw;
}
.address-item {
    font-size: 3.7vw;
    width: 32vw;
    margin-bottom: 5vw;
}
.footer-caption {
    font-size: 11.7vw;
    position: relative;
    left: 30vw;
    align-self: flex-end;
    margin-bottom: 5vw;
}
.address-divider {
    border: solid 0.0px;
}

}
